WALLET_CONFIG_API_HOST=https://api.dev.platform.pagopa.it
WALLET_CONFIG_API_BASEPATH=/webview-payment-wallet/v1
WALLET_CONFIG_API_PM_BASEPATH=/pp-restapi-CD
WALLET_CONFIG_API_ENV=DEV
WALLET_CONFIG_API_TIMEOUT=10000