WALLET_CONFIG_API_HOST=https://api.dev.platform.pagopa.it
WALLET_CONFIG_API_BASEPATH=/webview-payment-wallet/v1
WALLET_CONFIG_API_PM_BASEPATH=/pp-restapi-CD
WALLET_CONFIG_API_ENV=DEV
WALLET_CONFIG_API_TIMEOUT=10000
WALLET_ECOMMERCE_HOST=http://localhost:8080
WALLET_API_ECOMMERCE_BASEPATH=/ecommerce/checkout/v1
WALLET_NPG_SDK_URL=https://stg-ta.nexigroup.com/monetaweb/resources/hfsdk.js
