WALLET_CONFIG_API_BASEPATH=/webview-payment-wallet/v1
WALLET_CONFIG_API_ENV=DEV
WALLET_CONFIG_API_HOST=http://localhost
WALLET_CONFIG_API_PM_BASEPATH=/pp-restapi-CD
WALLET_CONFIG_API_TIMEOUT=10000
WALLET_CONFIG_WEBVIEW_PM_HOST=https://api.dev.platform.pagopa.it
WALLET_GDI_CHECK_TIMEOUT=30000
WALLET_NPG_SDK_URL=https://stg-ta.nexigroup.com/monetaweb/resources/hfsdk.js
WALLET_OUTCOME_API_BASEPATH=/payment-wallet
WALLET_PAGOPA_LOGOS_CDN=https://assets.cdn.io.italia.it/logos/abi
