# Azure DevOps pipeline template used to build bundle.
parameters:
  - name: 'api_host'
    type: string
    default: ''

  - name: 'api_webview_pm_hostname'
    type: string
    default: ''

  - name: 'env'
    type: string
    default: ''  

  - name: 'api_wallet_basepath'
    type: string
    default: ''
    
  - name: 'api_pm_basepath'
    type: string
    default: ''

  - name: 'api_wallet_outcome_basepath'
    type: string
    default: ''

  - name: 'api_timeout'
    type: number
    default: 10000

  - name: 'npg_sdk_url'
    type: string
    default: ''
  
  - name: 'wallet_gdi_check_timeout'
    type: number
    default: 10000

  - name: 'wallet_pagopa_logos_cdn'
    type: string
    default: ''

  - name: 'wallet_show_continue_io_btn_delay_millis'
    type: number
    default: 1000

steps:
- bash: |
    chmod +x env.sh
    env -i \
      WALLET_CONFIG_API_HOST=${{ parameters.api_host }} \
      WALLET_CONFIG_WEBVIEW_PM_HOST=${{ parameters.api_webview_pm_hostname }} \
      WALLET_CONFIG_API_BASEPATH=${{ parameters.api_wallet_basepath }} \
      WALLET_CONFIG_API_PM_BASEPATH=${{ parameters.api_pm_basepath }} \
      WALLET_OUTCOME_API_BASEPATH=${{ parameters.api_wallet_outcome_basepath }} \
      WALLET_CONFIG_API_TIMEOUT=${{ parameters.api_timeout }} \
      WALLET_CONFIG_API_ENV==${{ parameters.env }} \
      WALLET_NPG_SDK_URL=${{ parameters.npg_sdk_url }} \
      WALLET_GDI_CHECK_TIMEOUT=${{ parameters.wallet_gdi_check_timeout }} \
      WALLET_PAGOPA_LOGOS_CDN=${{ parameters.wallet_pagopa_logos_cdn }} \
      WALLET_SHOW_CONTINUE_IO_BTN_DELAY_MILLIS=${{ parameters.wallet_show_continue_io_btn_delay_millis }} \
      bash env.sh

  displayName: 'Populate environment file'
